/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap%27');

*{
  font-family: 'Mukta', sans-serif;
}

body {
  background: rgb(32, 32, 32);
  color: white;
}

table td,
th {
  color: white;
}

.myBtn {
  color: white;
  background-color: rgb(0, 0, 0);
  border: 1px solid blanchedalmond;
  padding: 16px;
  margin: 1rem;
  border-radius: 10px;
  font-size: 1.5rem;
}

.myBtn:hover{
  color: blanchedalmond;
}

.card{
  background-color: black;
  box-shadow: 0px 0px 10px blanchedalmond;
}

.pulsantiInt{
  font-size: 1.4rem;
}

.myNav{
  background: url("https://i.imgur.com/ayLqJGf.jpg");
  background-position: center;
  background-size: cover;
}

.modal-title, .modal-body{
  color: black
}

.signout, .myNav{
  font-size: 1.3rem;
}

label{
  margin-top: 1.2rem;
  font-size: 1.3rem;
}
